h1 {
    font-size: 2em;
}

.something, #url {
    text-align: center;
}

p, li {
    font-size: 1.5em;
}

#outerDiv {
    margin: auto;
    width: 98%;
    /* border: 1px solid blue; */
}

#middleDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    width: 98%;
    /* border: 1px solid green; */
}

#innerDiv {
    margin: auto;
    min-width: 40%;
    max-width: 80%;
    margin: 1em;
    padding: .5em;
    border: 2px solid royalblue;
}

/* tablets below */

/* *** nothing for tablets yet *** */

/* mobile phones below */

@media (max-width: 1000px) {
    h1 {
        font-size: 5em;
    }
    #middleDiv {
        /* border: 5px solid goldenrod; */
    }
    #innerDiv {
        min-width: 80%;
        padding: 1em;
        border: 2px solid royalblue;
    }
    #url {
        font-size: 3em;
    }
}